<!doctype html>

<head>
    <title>Big Picture</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="js/lib/vue.js"></script>
    <script src="js/lib/vue-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Sacramento&display=swap');
    </style>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css" media="screen">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
    <div id="modules">
        <center>
            <h1>Big Picture</h1>
            <h2 style="padding-bottom: 0vw;"> Score : {{ points }} </h2>
        </center>
        <div id="pane1">
            <center>
                <div id="container">
                    <div id="main_image">
                        <img src="image/1.jpg" width="100%" height="100%">
                    </div>
                    <div id="blocks" style="color: rgb(155, 155, 155);">
                        <div id="block_1" class="overlay_image block_1" v-on:click=remove_block($event)>
                            <i v-show="remove_block_show[1]" class="fas fa-times-circle fa-3x"></i></div>
                        <div id="block_2" class="overlay_image block_2" v-on:click=remove_block($event)>
                            <i v-show="remove_block_show[2]" class="fas fa-times-circle fa-3x"></i></div>
                        <div id="block_3" class="overlay_image block_3" v-on:click=remove_block($event)>
                            <i v-show="remove_block_show[3]" class="fas fa-times-circle fa-3x"></i></div>
                        <div id="block_4" class="overlay_image block_4" v-on:click=remove_block($event)>
                            <i v-show="remove_block_show[4]" class="fas fa-times-circle fa-3x"></i></div>
                        <div id="block_5" class="overlay_image block_5" v-on:click=remove_block($event)>
                            <i v-show="remove_block_show[5]" class="fas fa-times-circle fa-3x"></i></div>
                        <div id="block_6" class="overlay_image block_6" v-on:click=remove_block($event)>
                            <i v-show="remove_block_show[6]" class="fas fa-times-circle fa-3x"></i></div>
                        <div id="block_7" class="overlay_image block_7" v-on:click=remove_block($event)>
                            <i v-show="remove_block_show[7]" class="fas fa-times-circle fa-3x"></i></div>
                        <div id="block_8" class="overlay_image block_8" v-on:click=remove_block($event)>
                            <i v-show="remove_block_show[8]" class="fas fa-times-circle fa-3x"></i></div>
                        <div id="block_9" class="overlay_image block_9" v-on:click=remove_block($event)>
                            <i v-show="remove_block_show[9]" class="fas fa-times-circle fa-3x"></i></div>
                    </div>
                </div>
            </center>
        </div>

        <div id="pane2">
            <div id="pane2-contents">
                <center>
                    <h2><i class="far fa-question-circle "></i> Puzzle Question</h2>
                    <p style="font-size: 20px;">{{ puzzle_data["puzzle_question"] }}</p>
                    <input class="input" id="main_input" v-model="clue_input[0]" placeholder="your answer here">
                    <button id="main_input_submit" class="button button1" v-on:click="check_main_input(clue_input[0])">Submit</button>
                    <br><br><br><br><br>

                    <h2><i class="fas fa-puzzle-piece"></i> Clue Opener Question</h2>
                    <div v-show="clue_show[0]">
                        <h2 style="font-weight: lighter;">Loading Clue in {{ timer }} Sec</h2>
                    </div>
                    <div v-show="clue_show[1]">
                        <h2>- Clue 1 -</h2>
                        <p style="font-size: 20px; "> {{ puzzle_data["clue1_question"] }} </p>
                        <input class="input" id="indirect_input_1" v-model="clue_input[1]" placeholder="your answer here">
                        <button id="indirect_button_1" class="button button2" v-on:click="check_clue_input(1,'indirect_input_1',clue_input[1])">Submit</button>
                    </div>

                    <div v-show="clue_show[2]">
                        <h2>- Clue 2 -</h2>
                        <p style="font-size: 20px; "> {{ puzzle_data["clue2_question"] }} </p>
                        <input class="input" id="indirect_input_2" v-model="clue_input[2]" placeholder="your answer here">
                        <button id="indirect_button_2" class="button button2" v-on:click="check_clue_input(2,'indirect_input_2',clue_input[2])">Submit</button>
                    </div>

                    <div v-show="clue_show[3]">
                        <h2>- Clue 3 -</h2>
                        <p style="font-size: 20px; "> {{ puzzle_data["clue3_question"] }} </p>
                        <input class="input" id="indirect_input_3" v-model="clue_input[3]" placeholder="your answer here">
                        <button id="indirect_button_3" class="button button2" v-on:click="check_clue_input(3,'indirect_input_3',clue_input[3])">Submit</button>
                    </div>

                    <div v-show="clue_show[4]">
                        <h2>- Clue 4 -</h2>
                        <p style="font-size: 20px; "> {{ puzzle_data["clue4_question"] }} </p>
                        <input class="input" id="indirect_input_4" v-model="clue_input[4]" placeholder="your answer here">
                        <button id="indirect_button_4" class="button button2" v-on:click="check_clue_input(4,'indirect_input_4',clue_input[4])">Submit</button>
                    </div>

                    <div v-show="clue_show[5]">
                        <h2 style="font-weight: lighter;">No Clues Available</h2>
                        <h2> Read Passage : {{ puzzle_data["reference"] }} </h2>
                    </div>
                </center>
            </div>
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <!-- Module -->
    <script src="js/bigpicture.js "></script>
</body>